<footer style="background-color: #1c1a1b; margin: 0px; padding:0px; padding-left: 5%; padding-top: 5%; padding-bottom: 100px;background-size: cover;">
    <div style="color: white; text-align: left; font-size: 150%">
    <span style="color: #d81f26; font-weight: bold">9done</span> hoạt động thế nào?
</div>
<div style="text-align: left; color: #eae9e9;line-height: 220%;font-size: 100%">
    &bull;&nbsp;&nbsp;Thu âm ngay từ các bài beat mà không phải lo lắng quảng cáo cắt ngang khi đang hát<br>
&bull;&nbsp;&nbsp;Có một studio chỉnh sửa giúp bản thu âm hay hơn<br>
    &bull;&nbsp;&nbsp;Tất cả các kỹ thuật hát, audio effect sẽ được nói rõ với mục tiêu nâng cao hiểu biết về âm nhạc và cải thiện giọng hát<br>

    &bull;&nbsp;&nbsp;Thu âm bao nhiều bài cũng được, hoàn toàn miễn phí<br>
&bull;&nbsp;&nbsp;Luyện Tập và thể hiện giọng hát của bạn với cộng đồng trên 9done và facebook<br>
<span style="color: #686868">V7-Spirited Away</span>
</div>
</footer>