<head>
  <meta charset="UTF-8">
  <title>9done - Hãy hát với tất cả đam mê</title>
  <link rel="icon" href="/imgs/icon.ico">
  <!-- HEADER -->
    <style>
    #vipsilip {
      cursor: pointer; /* or the one which you would like to have */
    }
    #showname{
      font-size: 150%;
      cursor: pointer; /* or the one which you would like to have */
    }
    .form-control {
      display: inline;
    }
    #buttonlogin:hover{
      color: white;
      background-color: #007bff;
    }
    body.modal-open .header9done{
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
      filter: blur(50px);
    }

  </style>
<!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
-->
    <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style>
  .dropdown-item:focus, .dropdown-item:hover {
  background-color: #d4d4d4;
  }
  </style>
  <header class="header9done">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78133055-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78133055-10');
</script>

      <section class="main-container netflixLogo" id="divlogo">
      </section>
      <nav id="navyeucau" class="main-nav">
        <a id="atagyeucau" href="/acceptsongs">Yêu cầu bài hát mới</a>
      </nav>
      <%if(userinfo != null){%>
<!--        <nav class="sub-nav">
          <p style=""><a href="/user/<%=userinfo._id%>"><%=userinfo.full_name%></a></p>
        </nav>-->
        <div class="dropdown">
          <h2 class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=userinfo.full_name%>
          </h2>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/user/<%=userinfo._id%>"><i class="fa fa-user-o" aria-hidden="true"></i>Trang cá nhân</a>
            <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a>
          </div>
        </div>
      <%}else{%>
      <nav class="sub-nav">
        <a class="btn btn-primary" href="/auth/facebook" id="buttonlogin">Đăng nhập với facebook</a>
      </nav>
      <%}%>
    </header>
    <!-- END OF HEADER -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/headerproccess.js"></script>
</head>
