<!DOCTYPE html>
<html lang="en" >
<% include ./header %>
<body> 
  <style type="text/css">
    .jumplentren:hover{
      cursor: pointer;
    }
  #slider-vertical .ui-slider-range { background: #0666ce; }
  #slider-vertical {border: 0; width: 1.5em; }
  #custom-handle {width: 2em; text-align: center; border: 0}
  div#custom-handle.ui-slider-handle.ui-corner-all.ui-state-default.ui-state-focus{
    color: black;
    border: 0;
  }
    div#custom-handle.ui-slider-handle.ui-corner-all.ui-state-default.ui-state-focus:focus{
    outline: none;
  }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Netflix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/netflix.css">
  <link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">
  <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/css/videojs-resolution-switcher.css">
  </br>
  <center><div id="controls">
      <p style="color: red" id="jumpto">Cần có headphone để thu âm</p>
    <select class="form-control" id="selecttyperecord" style="width:auto; margin-bottom: 10px">
      <option value="withvideo">Thu âm với camera</option>
      <option value="novideo">Thu âm không camera</option>
    </select>
      <!-- <button id="listensong" class="btn btn-primary"><b>Nghe</b></button> -->
      <button id="recordButton" class="btn btn-success"><b>Thu âm luôn</b></button>
      <button id="stopButton" class="btn btn-warning" disabled><b>Thu âm xong</b></button>&nbsp;</br></br>
      <span id="remindChooseSong" style="color: red; display: none">*Hãy chọn bài hát</br></span>
      <span id="countdown" style="font-size: 150%"></span>
    </div>
    <div id="containerplayer">
    <div id="volumebackgroundmusic" style="float: left;display: none">
      <div id="slider-vertical"><div id="custom-handle" class="ui-slider-handle"></div></div>
      <img src="https://img.icons8.com/color/48/000000/audio-wave2.png"/>
    </div>
      <video id="my-player" class="video-js">
      </video>
      <video id="uservideo" style="display: none;padding-top: 10px"></video>
    </div>
    </br>
    <div id="dsthuam" style="display: none; font-size: 150%">Danh sách đã thu âm<span id="loading"><img width='40px' height='40px' src='/imgs/loadings.gif'></span></div>
    <ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->

  </center>
  <div class="wrapper">
    <!-- MAIN CONTAINER -->

    <section class="main-container" >
      <div class="location" id="www">
          <div class="box" id="listrecords" style="overflow: auto;">
          </div>
      </div>
      </br>
      <div class="location" id="home">
          
          <div class="box">
            <input class="form-control p-3 mr-3" type="text" id="searchsong" placeholder="Tìm bài hát..."
           aria-label="Search">
           <input class="form-control p-3" type="text" id="searchsinger" placeholder="Tìm ca sĩ(tên tiếng việt)..."
           aria-label="Search">
          </div></br>

          <div class="box" id="boxnewsong">

          </div>
      </div>
      <div style="color: #06121e;margin: 0 auto; ;display: table;margin-top: 1rem" class="pagination">
                    </div>
    </section>
    <!-- END OF MAIN CONTAINER -->
  </div>
<div id="fb-root"></div>


<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=311431150032339&autoLogAppEvents=1" nonce="VKSppomw"></script>

  <script src="/js/recorder.js"></script>
  <script src="https://vjs.zencdn.net/7.8.3/video.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/videojs-resolution-switcher.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/js/mainfile.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
</body>
</html>