<!DOCTYPE html>
<html lang="en" >
    <% include ./header %>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/netflix.css">
    <link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">
    <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/videojs-resolution-switcher.css">
    <style>
        #datecratess{
            font-size: 20px;
        }
    </style>
    <body>
    <div id="databaiviet">

    </div>
    <div id="contentbaiviet" style="color: #d9d9d9; font-size: 22px ; font-family: 'Nunito Sans,Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji'"></div>
    <div style="color: #06121e;margin: 0 auto; ;display: table;margin-top: 1rem" class="pagination"></div>
    <script src="https://vjs.zencdn.net/7.8.3/video.js"></script>
    <script src="/js/videojs-resolution-switcher.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        let width
        let height

        if(!window.mobilecheck()){

            width = window.screen.width * 50/100
            height = width * 9 / 16

        }else{

            width = window.screen.width * 90/100
            height = width * 9 / 16
        }
        let margin = (window.screen.width - width) / 2
        $("#databaiviet").css("width", width)
        $("#databaiviet").css("margin-left", margin)

        $("#contentbaiviet").css("width", width)
        $("#contentbaiviet").css("margin-left", margin)
        let post = <%-JSON.stringify(post)%>
        console.log(post)
        var string = ``
        let date = new Date(post.datecreated);
        date = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear()
        string += `
                  <h1 style="font-size: 40px; text-align:left; color: #d9d9d9 ;font-family: 'Nunito Sans,Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji'"/>${post.title}</h1>
                  <p id="datecratess" style="color: #8c8c8c;">Ngày đăng: ${date}<p>
                  <br>
                  <img src="${post.thumbnail}" width="${width}" height="${height}"/>
                    `
        $("#databaiviet").html(string)
        $("#contentbaiviet").html(post.content)

    </script>
    </body>
    </html>