<!DOCTYPE html>
<html lang="en" >
<% include ./header %>
<body> 

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Netflix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/netflix.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </br>
  <center>
    <div id="info">
      
    </div>
  </center>

<div class="box" style="grid-gap: 100px; grid-template-columns: repeat(2, minmax(100px, 1fr))">
  
</div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/userpage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="/js/scriptplayer.js"></script>
</body>
</html>